[submodule "mini-python"]
	path = mini-python
	url = https://github.com/Milsonyujiaoki/mini-python.git
[submodule "Extratores-Python"]
	path = Extratores-Python
	url = git@github.com:Milsonyujiaoki/Extratores-Python.git
[submodule "python-streamlit-fastapi"]
	path = python-streamlit-fastapi
	url = git@github.com:Milsonyujiaoki/python-streamlit-fastapi.git
[submodule "projs-note-positivo"]
	path = projs-note-positivo
	url = git@github.com:Milsonyujiaoki/projetos-note-positivo.git
[submodule "python-servers"]
	path = python-servers
	url = git@github.com:Milsonyujiaoki/python-servers.git
